.containerClube {
    width: 100%;
    height: 100%;
    background-color: var(--preto-fosco);
    display: grid;
    grid-template-rows: 70px 1fr 35px;
    padding: .5em;
}

.containerNoticiaClube {
    display: grid;
    grid-template-columns: 120px 1fr;
    padding: .5em;
    gap: .5em;
    height: 120px;
    position: relative;
}

@media screen and (min-width:425px) {
    .containerNoticiaClube {
        grid-template-columns: 160px 1fr;
        height: 160px;
    }
}

@media screen and (min-width:768px) {
    .containerNoticiaClube {
        height: 120px;
    }
}
@media screen and (min-width:1024px) {
    
    .containerNoticiaClube {
        grid-template-columns: 120px 1fr;
        height: 120px;
    }
}