.ranking li{
    display: flex;
    flex-direction: column;
}
.ranking li > div{
    border: solid 1px black;
}
.ranking li > div:nth-child(1){
    display: grid;
    grid-template-columns: 15% 15% 25% 1fr 10%;
    height: 70px;
}
.ranking li > ul{
    height: 70px;
    width: 100%;
}
.ranking li > ul li{
    display: grid;
    grid-template-rows: 40px 15px 15px;
    background-color: white;
    color: black;
}

@media screen and (min-width: 768px) {
    .ranking li > ul{
        height: 100px;
    }
    .ranking li > ul li{
        display: grid;
        grid-template-rows: 60px 20px 20px;
    }
}