.cabecalho {
    display: grid;
    grid-template-columns: 1fr 60px;
    padding: .5em;
    background-color: var(--azul);
}

.cabecalhoMenu>ul {
    background-color: var(--preto-fosco);
}

.cabecalhoMenu {
    position: relative;
}

.cabecalhoMenu::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 60px;
    z-index: 10;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--preto-fosco);
    display: none;
}

.cabecalhoMenu:hover::after {
    display: block;
}

.cabecalhoMenu:hover>ul {
    display: flex;
    flex-direction: column;
}

.cabecalhoMenuCampeonatos {
    display: grid;
    grid-template-columns: 50% 1fr;
    column-gap: 1em;
    row-gap: .5em;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .cabecalho {
        grid-template-columns: auto 1fr auto;
    }
}

@media screen and (min-width: 1024px) {
    .cabecalhoMenuCampeonatos {
        grid-template-columns: 300px 1fr;
    }
}