@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --cor-principal: #0E185F;
  --azul: #06168a;
  --cinza-medio: #5d5d66;
  --laranja: #DA7A13;
  --salmao: #F74452;
  --vermelho: #F90716;
  --preto: #000000;
  --roxo: #4e0172;
  --preto-claro: #1D1D1B;
  --verde-claro: #6BFF36;
  --cinza: #52524e;
  --preto-skins: #201E1F;
  --preto-skins-claro: #3d3b3c;
  --dourado: #F1BE5E;
  --azul-escuro: #171D25;

  --cinza-steam: #5d5d66;
  --azul-claro-steam: #5E98D9;
  --azul-steam: #4B69FF;
  --roxo-steam: #7048bb;
  --rosa-steam: #b30ec5;
  --vermelho-steam: #FF0000;
  --laranja-steam: #f09e2b;
  --azul-botao: #1230AE
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.resultados h3::-webkit-scrollbar {
  height: 1px;
}

.resultados h3::-webkit-scrollbar-track {
  background-color: var(--cinza);
}

.resultados h3::-webkit-scrollbar-thumb {
  background-color: var(--cor-principal);
}

.slider-img:hover {
  scale: 1.05;
  transition: .4s ease;
}

.p-dialog-header,
.p-dialog-content {
  background-color: var(--preto-skins) !important;
  color: white;
}

.redes-sociais li:hover {
  margin-bottom: 10px;
  transition: .6s ease;
}

.redes-sociais li::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--azul-escuro);
  position: absolute;
  top: -4px;
  left: 50%;
  transform: translate(-50%);
  display: none;
}

.redes-sociais li::before {
  content: attr(data-social);
  width: fit-content;
  line-height: 16px;
  height: fit-content;
  padding: .2em .5em;
  border-radius: 6px;
  background-color: var(--azul-escuro);
  position: absolute;
  top: -22px;
  font-size: .5em !important;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  display: none;
}

.redes-sociais li:hover::after,
.redes-sociais li:hover::before {
  display: block;
}

input[type="radio"] {
  width: 100%;
  height: 100%;
  position: absolute;
  border: solid 3px rgb(53, 52, 52);
  top: 0;
  left: 0;
  appearance: none;
  cursor: pointer;
}

input[type="radio"]:checked {
  border: solid 3px green;
}

.modulo {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.paginacao .p-component {
  flex-direction: row;
  color: white;
}

.offcanvas {
  height: 100% !important;
  background-color: var(--cor-principal);
  color: white;
}

.offcanvas button {
  background-color: transparent;
}

.cardMenu:hover {
  scale: 1.05;
  transition: .4s ease;
}

.containerCardMenu::-webkit-scrollbar {
  height: 3px;
}

.containerCardMenu::-webkit-scrollbar-track {
  background-color: black;
}

.containerCardMenu::-webkit-scrollbar-thumb {
  background-color: var(--dourado);
}

.containerCardMenu h3 {
  position: relative;
  padding-left: .5em;
}


.cfgproJogador {
  padding: .5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* Container */
.containerCraqueRanking {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 2em;
}

/* Fim Container */

/* Ranking Comunidade */
.p-component {
  background-color: var(--preto-claro);
  flex-grow: 1;
}
.p-component .p-orderlist-controls{
  display: grid;
  gap: 1em;
}

.p-component .p-orderlist-list-container {
  display: flex;
  flex-direction: column;
}

.rankingComunidade {
  display: flex;
  flex-direction: column;
}
/* fim Ranking Comunidade */

/* containerAside */
.containerAside{
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin-bottom: 1.8em;
}
/* fim containerAside */


@media screen and (min-width: 768px) {
  .modulo {
    display: grid;
    grid-template-columns: 60% 38%;
    justify-content: center;
  }

  .cfgproJogador {
    display: grid;
    grid-template-columns: 40% 1fr;
  }

  .containerCraqueRanking {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: 58% 40%;
    gap: 1em;
  }

  .craque {
    grid-column: 1/3;
  }

  .modulo {
    grid-column: 1/3;
    grid-template-columns: 65% 30%;
    max-width: 100%;
  }
  /* containerAside */
  .containerAside{
    display: grid;
    grid-template-columns: 65% 1fr;
  }
  .containerAside .noticias{
    grid-row: 1/6;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    display: grid;
    grid-template-columns: 65% 35%;
    gap: 1em;
  }

  .cfgproJogador {
    display: grid;
    grid-template-columns: 30% 1fr 1fr;
    padding: 1.2em;
  }

  .cfgproJogador div:nth-child(1) {
    grid-row: 1/3;
    height: 100%;
  }

  .cfgproJogador div:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/3;
  }

  .cfgproJogador div:nth-child(3) {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .cfgproJogador div:nth-child(4) {
    grid-column: 3/4;
    grid-row: 2/3;
  }

  .cfgproJogador div:nth-child(6) {
    grid-column: 2/4;
  }
}

@media screen and (min-width: 1440px) {
  .modulo {
    margin-right: 2.7em;
  }

  .containerCraqueRanking {
    grid-template-columns: 70% 1fr;
  }

  .containerCraqueRanking {
    display: grid;
    grid-template-columns: 60% 1fr;
  }
  .p-component .p-orderlist-list-container .p-orderlist-list {
    max-height: 200px;
    overflow: scroll;
  }
}