@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  /* Fontes */
  --fonte-primaria: "Open Sans", sans-serif;
  --fonte-secundaria: "Lato", sans-serif;
  --fonte-terciaria: "Inter", sans-serif;
  --fonte-cursiva: "Parisienne", 'cursive';

  /* Cores */
  --azul-escuro: #07033b;
  --azul-medio: #0a0370;
  --laranja: #FE6A39;
  --amarelo: #F6BC2B;
  --verde: #007C00;
  --vermelho: #F60002;
}

body {
  scroll-behavior: smooth;
}

.jogos .swiper-pagination {
  position: absolute !important;
  bottom: -5px !important;
}

.jogos .swiper-button-prev {
  left: -5px !important;
  opacity: .6 !important;
}

.jogos .swiper-button-next {
  right: -5px !important;
  opacity: .6 !important;
}

.jogos .swiper-button-prev::after,
.jogos .swiper-button-next::after {
  font-size: 1.6em !important;
  color: var(--azul-escuro);
}

.p-menu {
  margin-top: 6px !important;
}

.p-menuitem-link {
  gap: 2px;
}

/* #Estilo para dialogconfigdospro# */

/* Aplica apenas dentro do Dialog */
.dialogconfigdospro .p-dialog-content {
  scrollbar-width: thin;
  scrollbar-color: var(--laranja) #1a1a1a;
  /* Firefox */
}

/* Chrome, Edge e Safari */
.dialogconfigdospro .p-dialog-content::-webkit-scrollbar {
  width: 10px;
}

.dialogconfigdospro .p-dialog-content::-webkit-scrollbar-track {
  background: #1a1a1a;
  /* Fundo */
  border-radius: 10px;
}

.dialogconfigdospro .p-dialog-content::-webkit-scrollbar-thumb {
  background: var(--laranja);
  /* Cor da barra */
  border-radius: 10px;
}

.dialogconfigdospro .p-dialog-content::-webkit-scrollbar-thumb:hover {
  background: var(--laranja);
  /* Hover mais escuro */
}

.dialogconfigdospro .p-dialog-header,
.dialogconfigdospro .p-dialog-content {
  background-color: #0D0D0D !important;
  color: white !important;
}