.container{
    padding: 1em;
}

.subContainer {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
}

@media screen and (min-width: 768px) {
    .container {
        padding: 0 1em;
    }

    .subContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 530px;
        gap: 2em;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        display: grid;
        gap: 1em;
        grid-template-columns: 1fr 300px;
        row-gap: 1em;
        padding: 1em 1.5em;
        grid-template-rows: 1fr 350px;
    }

    .subContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 560px auto auto 1fr;
        gap: 2em;
        padding-right: 1em;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        gap: 6em;
        row-gap: 2em;
        grid-template-columns: 1fr 450px;
        padding: 1em 2em;
    }
}