.cfgPro{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px){
    .cfgPro{
        display: grid;
        grid-template-columns: 45% 1fr;
        column-gap: 2em;
    }
    .cfgProImagem{
        grid-row: 1/3;
    }
    .cfgViewmodel{
        grid-column: 1/3;
        grid-template-columns: 1fr auto!important;
    }
    .cfgProCodigoMira{
        grid-column: 1/3;
    }
}
@media screen and (min-width: 1440px){
    .cfgPro{
        grid-template-columns: auto 40% 30%;
    }
    .cfgProImagem{
        grid-row: 1/4;
    }
    .cfgViewmodel{
        grid-column: 2/4;
        grid-template-columns: 1fr auto!important;
    }
    .cfgProCodigoMira{
        grid-column: 2/4;
    }
}