.cfgPro{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px){
    .cfgPro{
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 2em;
    }
    .cfgProImagem{
        grid-row: 1/3;
    }
    .cfgProMira{
        grid-column: 1/3;
        grid-template-columns: 1fr auto!important;
    }
}
@media screen and (min-width: 1440px){
    .cfgPro{
        grid-template-columns: auto 1fr 1fr;
    }
    .cfgProImagem{
        margin-right: 1em;
    }
    .cfgProImagem{
        grid-row: 1/5;
    }
    .cfgProMira{
        grid-column: 2/4;
        grid-row: 2/3;
    }
    .cfgProCodigoMira{
        grid-row: 3/4;
        grid-column: 2/4;
    }
}