.offcanvas{
    display: grid;
    grid-template-rows: 485px 1fr;
    height: 100%;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 1.2em;
    gap: .25em;
    position: relative;
}